#I don't beleive the version numbers are required, but for reference sake
#I've left them here, but commented out. 
#gevent==1.1.2
#greenlet==0.4.11
#requests==2.12.4
#urllib3==1.19.1
gevent
greenlet
requests
urllib3
